.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

input{
    height: 40px;
    padding: .5rem
}

.userPicture{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    /* margin-left: 2rem; */
}